{% extends 'base.html' %}
{% load static %}

{% block title %}
  blog Feed - Bloggify
{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'css/blogfeed.css' %}" />
{% endblock %}

{% block content %}
  <main class="container">
    <!-- left/right -->
    <div class="category-row-outer position-relative my-4">
      <button class="row-nav left-nav" aria-label="Scroll left">‹</button>
      <div id="categoryRow" class="category-row">
        {% for category in categories %}
          <a href="?category={{ category.slug }}" class="text-decoration-none text-dark"><div class="category-item">{{ category.name }}</div></a>
        {% endfor %}
      </div>
      <button class="row-nav right-nav" aria-label="Scroll right">›</button>
    </div>

    <!-- content area + side bar : left 60% , right 40% -->
    <div class="row my-4">
      <div class="col-12 col-md-8 mx-auto">
        <!-- Blog archive list -->
        <div class="list-group">
          {% for post in posts %}
            <article class="list-group-item p-3 mb-3 position-relative d-none d-md-block">
              <div class="row g-3 align-items-center">
                <div class="col-4 col-sm-3">
                  <img src="/media/{{ post.featured_image }}" alt="{{ post.title }}" class="img-fluid rounded" style="height: 140px;" />
                </div>
                <div class="col-8 col-sm-9">
                  <div class="mb-1">
                    <span class="badge bg-primary bg-opacity-10 text-primary">{{ post.category.name }}</span>
                  </div>
                  <h4 class="mb-1">{{ post.title }}</h4>
                  <p class="mb-1 text-secondary">{{ post.excerpt }}</p>
                  <div class="d-flex gap-4">
                    <span><i class="fa-regular fa-user"></i> {{ post.author.username }}</span>
                    <span><i class="fa-regular fa-calendar"></i> {{ post.created_at|timesince }} ago</span>
                    <span><i class="fa-regular fa-eye"></i> {{ post.views }} views</span>
                    <span>
                      <i class="fa-regular fa-comment"></i> {{ post.comment_count }} {% if post.comment_count > 1 %}
                        comments
                      {% else %}
                        comment
                      {% endif %}
                    </span>
                  </div>
                </div>
              </div>
              <a href="/@{{ post.author.username }}/{{ post.slug }}" class="stretched-link" aria-label="Read {{ post.title }}"></a>
            </article>

            <div class="col-md-4 d-block d-md-none mb-3">
              <div class="card card-blog p-2 position-relative">
                <div class="card-body">
                  <div class="img_badge">
                    <span class="badge bg-white text-dark mb-2">{{ post.category.name }}</span>
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid mb-3" style="height: 200px;" />
                  </div>
                  <h5 class="card-title fw-semibold">{{ post.title }}</h5>
                  <p class="card-text text-secondary">{{ post.excerpt|truncatechars:90 }}</p>
                  <div class="d-flex gap-4">
                    <span><i class="fa-regular fa-user"></i> {{ post.author.username }}</span>
                    <span><i class="fa-regular fa-eye"></i> {{ post.views }} views</span>
                    <span>
                      <i class="fa-regular fa-comment"></i> {{ post.comment_count }} {% if post.comment_count > 1 %}
                        comments
                      {% else %}
                        comment
                      {% endif %}
                    </span>
                  </div>
                  <a href="{% url 'post_detail' post.author.username post.slug %}" class="stretched-link" aria-label="Read {{ post.title }}"></a>
                </div>
              </div>
            </div>
          {% empty %}
            <p class="text-center">No posts found.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block js %}
  <script src="{% static 'js/blogfeed.js' %}"></script>
{% endblock %}
