{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ category.name }} - Bloggify
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/categoryBlog.css' %}" />
{% endblock %}

{% block content %}
    <main class="container mt-5">
            <div class="row g-3">
        <div class="d-flex align-items-center gap-3 mb-3">
            <i class="fa fa-bolt p-2 bg_main"></i>
            <h3 class="mb-0">{{ category.name }}</h3>
        </div>

      {% if blog_posts %}
        {% for post in blog_posts %}
        <div class="col-md-4">
          <div class="card card-blog p-2 position-relative">
            <div class="card-body">
              <div class="img_badge">
                <span class="badge bg-white text-dark mb-2">{{ post.category.name }}</span>
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid mb-3" style="height: 200px;" />
              </div>
              <h5 class="card-title fw-semibold">{{ post.title }}</h5>
              <p class="card-text text-secondary">{{ post.excerpt|truncatechars:90 }}</p>
              <div class="d-flex gap-4">
                <span><i class="fa-regular fa-user"></i> {{ post.author.username }}</span>
                <span><i class="fa-regular fa-eye"></i> {{ post.views }} views</span>
                <span><i class="fa-regular fa-comment"></i> 0 comments</span>
              </div>
              <a href="/@{{ post.author.username }}/{{ post.slug }}" class="stretched-link" aria-label="Read {{ post.title }}"></a>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p class="text-center text-muted">No blog posts found in this category.</p>
      {% endif %}

    </div>
    </main>
{% endblock %}