{% extends 'base.html' %}
{% load static %}

{% block title %}
  Home - Bloggify
{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="d-flex align-items-center gap-3 mb-3">
      <i class="fa fa-bolt p-2 bg_main"></i>
      <h2 class="mb-0">Reading List</h2>
    </div>

    <div class="row">
          <table class="table table-hover table-bordered bg-white">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Blog</th>
                <th scope="col">Added At</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in blog %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'post_detail' username=item.blog.author.username slug=item.blog.slug %}" class="text-decoration-none text-dark">{{ item.blog.title }}</a></td>
                  <td>{{ item.saved_at }}</td>
                  <td>
                    <a href="{% url "delete_from_reading_list" slug=item.blog.slug %}" class="btn btn-sm btn-outline-danger">Delete</a>
                  </td>
                </tr>
                {% empty %}
                  <tr>
                    <td colspan="4" class="text-center">Your reading list is empty.</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

  </div>
{% endblock %}
