{% extends 'base.html' %}
{% load static %}

{% block title %}
  Dashboard - Bloggify
{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
  <main class="container">
    <div class="row mt-5 rounded p-4 gx-5">
      <!-- Dashboard Menu -->
      {% include 'dashboard/sidebar.html' %}

      <!-- Dashboard Content -->
      <div class="col-12 col-md-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2>Your Blogs</h2>
          <a href="{% url 'add_blog' %}" class="btn btn-signup"><i class="fa-regular fa-file-lines pe-2"></i> Add New Blog</a>
        </div>
        <div class="row">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Blog</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in blogs %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ item.title }}</td>
                  <td>{{ item.category.name }}</td>
                  <td>
                    <a href="{% url 'edit_blog' item.slug %}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a href="{% url 'delete_blog' item.slug %}" class="btn btn-sm btn-outline-danger">Delete</a>
                  </td>
                </tr>
                {%empty%}
                  <tr>
                    <td colspan="4" class="text-center">No blogs found.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
